<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Micro+5&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <title>Niji x Doki website</title>
</head>
<body>
    <div class="navbar-container">
    <header>
        <div class="logo">
            <a href="index.html" title="Home">
              <img src="../public/images/bw.jpg" alt="Logo">
            </a>
        </div>
        <h1>Dokibird x Nijisanji EN comparator</h1>
      </header>
      
      <nav>
        <a href="index.html" title="This takes you to the home">Home</a>
        <a href="subranks.html" title="This takes you to the current sub counts of each vtuber">Subscriber Counts</a>
        <a href="information.html" title="Page that gives information about the situation">Information</a>
        <a href="about.html" title="About page">About</a>
      </nav>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
    <div class="infoText" id="homeText">
        <p>This website is here to track the ongoing situation between Dokibird and Nijisanji using some metrics (YouTube Subscriber counts) to view the impact of the situation on both parties</p>
        <a href="https://en.wikipedia.org/wiki/Black_company_(Japan)" target="_blank">
            <img src="../public/images/niji.png" width =100% alt="Vtubers playing lethal company while working for a lethal company" title="lethal company">
        </a>
    </div>
    <!-- Basic setup for a website-->
</body>

</html>