<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Micro+5&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <title>My first website</title>
</head>
<body>
    <!-- Basic setup for a website-->
    <div style="background-color: black; color: red; width: 21vw;">
    <h1>This is my website</h1>
    <hr>
    <h1>HEY! :)</h1>
    <br>
    <p>I can put a lot of words here</p>
    <br>
    <p>
        <span style="color: rgb(9, 253, 143);"> no clue what to write though</span>
    </p>
    
    <br>
    <h2>
        <a href="https://www.fflogs.com/character/id/19353014" target =_blank title="This takes you to Pride Wyverna's fflogs">My fflogs</a>
        <br><br>
        <a href="page2.html" title="This takes you to the second page">page 2</a>
        <br><br>
        <a href="page3.html" title="This takes you to the third page">page 3</a>
        <br><br>
        <a href="page4.html" title="This takes you to the fourth page">page 4</a>
    </h2>
    </div>
</body>

</html>