<!DOCTYPE html>

<html>

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Micro+5&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
        <title> heckin love niji</title>
        <script type="module" src="../model/subCount.js"></script>
    </head>
    <body>
        <div class="navbar-container">
            <header>
                <div class="logo">
                    <a href="index.html" title="Home">
                      <img src="../public/images/bw.jpg" alt="Logo">
                    </a>
                  </div>
                <h1>Dokibird x Nijisanji EN comparator</h1>
              </header>
            
              <nav>
                <a href="index.html" title="This takes you to the home">Home</a>
                <a href="subranks.html" title="This takes you to the current sub counts of each vtuber">Subscriber Counts</a>
                <a href="information.html" title="Page that gives information about the situation">Information</a>
                <a href="about.html" title="About page">About</a>
              </nav>
        </div>
        <br><br><br><br><br><br><br><br><br><br><br>
        <div class="infoText">
        <script type="module" src="../model/subCount.js"></script>
        <h1>Niji best company</h1>
        <br>
        </p>
            <p>On Christmas a vtuber named Selen Tatsuki, employed by the vtuber talent company Nijisanji under the EN (English) branch, uploaded a cover for the song "Last Cup of Coffee" 
                to her channel after which the video was swiftly taken down by Nijisanji management leading to her tweeting that people are free to re-upload as a lot of work went into making
                the cover. After that tweet the account went unusually silent for a few days and a couple of day later a tweet came from her account saying she had been in an accident and would be taking time to recover.</p>
            <br>
            <audio controls muted autoplay>
                <source src ="../public/audio/lastcup.mp3">
                This browser does not support mp3 files
            </audio>
            <br>
            <p>
                A month past without anything from any of Selen's accounts, initially this was assumed as her taking time to recover, however, there were a few issues that started to emerge, including none of the other 
                talent employed and actively worked with Selen making any mention of her and her friends that only had contact through her Nijisanji accounts being unable to contact her leading to "#WhereIsSelen" trending on X (formerly known as Twitter).
                Less then a week after it started to gain traction, Nijisanji's Twitter (X) account posted Selen's Letter of termination and all her old VODs were privated and her Twitter (X) account was set to protected.
            </p>
            <br>
            <p>
                Once that happened Selen's old Twitter account Dokibird which was her main account before she became Selen tweeted that she is still her and they can't take away every memory and achievement she's had. She then revealed that she was hospitalized
                after she attempted suicide due to bullying from within the company and the toxic work environment she dealt with for months leading to her reaching a breaking point. It was also revealed that she requested to leave
                the company prior to the termination but this was declined.
            </p>
            <br>
            <p>
                From here it becomes a bit of a pr nightmare for Nijisanji as a lot of artists and other people that worked with Selen came to her defence while also revealing that the company 
                had a habit of not paying for art and other commissions for months which often lead to Selen now Dokibird paying for those services out of her own pocket, later it was revealed 
                that she spent over $200000 paying for those services leading her to make no money the entire year. Companies started to cut ties with Nijisanji and smaller companies such as merch 
                stores and artists announced they were no longer selling anything Nijianji related.
            </p>
            <br>
            <p>
                Nijisanji's statements only added fuel to the fire as they took zero blame for any of the issues going on instead blaming Dokibird herself and other talent, in doing so throwing other talent
                under the bus by alluding that it was the other talent that were bullying Dokibird even though the initial assumption was mostly it was just management tensions. As a result of all this it lead to a mass
                unsubbing of all of the Nijisanji talent's channels while at the same time Dokibird's revived account started to grow rapidly (which is mostly what this website aims to track). 
            </p>
            <br>
            <p>
                The last sigificant point of this was at the same time as Dokibird's first normal stream back Nijisanji started a livestream on one of their talent's biggest channel's, which in itself was received poorly
                as it felt that the timing was targeted and streaming on one of their talent's account was a way to hide behind the talent so they take the brunt of the criticism instead of the company. The content of
                the livestream also backfired a bit as most of the issues weren't addressed and the ones that were contained statements contradictory to others they made within the same livestream while also purely put the full blame on Dokibird.
                The legality of some of the information they admitted to sharing with others was also brought into question. The most damning part was they claimed there was a document that contained information about
                some of the other talent that Dokibird had including information about the talents Millie, Enna and Elira, however, that was the document given to Nijisanji lawyers outlining the harrassment and bullying
                she faced from the other talent, inadvertently causing a further subscriber count dip to the talent mentioned along with their social media accounts receiving a lot more attacks. 
            </p>
            <br>
            <p>
                There are more details prior to this situation that are well known and more details even throughout but this covers a general overview of the situation over the last couple of months.
            </p>
        </div>
        <br><br>
        <a href="index.html" title="This takes you to the home">home</a>

        <script type="module" src="../model/subCount.js"></script>
    </body>
</html>