<!DOCTYPE html>

<html>
<head>
    <title>L</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Micro+5&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
</head>
<body>
    <h1>L moment</h1>
    <hr>
    <video controls autoplay src="../public/video/L.mp4"></video>
    <br><br>
    <a href="index.html" title="This takes you to the home">home</a>
</body>
</html>